
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<title>小程序发布</title>
<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reseting.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lite.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/layer/skin/default/layer.css">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<![endif]-->

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ucenter.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lite.css" />

<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/common.js" charset="utf-8"></script>

<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AToSHkqDux5yahvMzgXLq97P422dk1ge">
        //百度地图jsapi
    </script>
</head>
<body>
	<!-- 头部 -->
	<script type="text/javascript">
    $(function(){
        $('.release-zb').remove();
    });

    $(function () {
        $('.add-fixed').click(function () {
            window.open("{:U('/user/index/apply')}", '_blank');
        });
    });
</script>
	<!-- /头部 -->

	<!-- 主体 -->
	<div class="body-container">

        <include file="./Themes/PC/Public/header.html" />


    <div class="title_common containers">
        <a href="/app">首页</a>
        <label></label>
        <a href="{:U('/user/index')}">个人中心</a>
        <label></label>
        <span>发布小程序</span>
    </div>
    <div class="containers clear">

        <include file="Public:left" />

        <div class="right-ucenter fr">
            <div class="title-ucenter">修改小程序</div>
            <div class="releasebox">
                <div class="release-content">
                    <div class="lite_name">
                        <h2>小程序 &nbsp;&nbsp;名称</h2>
                        <span>0/15</span>
                        <input class="am-g" type="text" name="title" value="{$row_app.title}" id="title" maxlength="15" placeholder="请输入小程序名称"/>
                    </div>
                    <div class="lite_name">
                        <h2>小程序 &nbsp;&nbsp;作者</h2>
                        <span>0/15</span>
                        <input class="am-g" type="text" name="author" id="author" maxlength="15" value="{$row_app.zuozhe}" placeholder="请输入小程序作者"/>
                    </div>
                    <div class="clear oneimg">
                        <h2>小程序 &nbsp;&nbsp;ICON / 二维码<span>建议尺寸：不小于 400×400px，并且为正方形</span></h2>
                        <div id="filelist1" class="files fl">

                            <span id="filePicker1" class="file-btn webuploader-container">
                                <div class="webuploader-pick">
                                <img id="img1" onload="setImgWH(this)" src="{$row_app.thumbnail}" style="width: 100%; display: inline-block; height: 100%;">
                            </div>

                                <div id="rt_rt_1c3hgflll1luidi318vhmm51bim1" style="position: absolute; top: 0px; left: 0px; width: 120px; height: 120px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/jpg,image/gif,image/png,image/jpeg"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div>
                            </span>

                            <p>上传ICON</p>
                        </div>
                        <div id="filelist2" class="files fl">
                            <span id="filePicker2" class="file-btn webuploader-container"><div class="webuploader-pick">
                                <img id="img2" onload="setImgWH(this)" src="{$row_app.qrcode}" style="width: 100%; display: inline-block;">
                            </div><div id="rt_rt_1c3hivm5j1pcm3b0vatobv6ne4" style="position: absolute; top: 0px; left: 0px; width: 120px; height: 120px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/jpg,image/gif,image/png,image/jpeg"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></span>

                            <p>上传小程序码</p>
                        </div>
                        <div id="filelist3" class="files fl">
                            <span id="filePicker3" class="file-btn webuploader-container"><div class="webuploader-pick">
                                <img id="img3" onload="setImgWH(this)" src="{$row_app.open_qrcode}" style="width: 100%; display: inline-block;">
                            </div>
                                <div id="rt_rt_1c3hivm5mk0g1k5u1av8nev10c27" style="position: absolute; top: 0px; left: 0px; width: 120px; height: 120px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" accept="image/jpg,image/gif,image/png,image/jpeg"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></span>
                            <p>上传公众号二维码</p>
                        </div>
                    </div>
                    <div class="lite_content">
                        <h2>小程序 &nbsp;&nbsp;介绍</h2>
                        <span>0/300</span>
                        <textarea class="am-g" name="content" id="content" maxlength="300" placeholder="请输入小程序介绍">{$row_app.description}</textarea>
                    </div>
                    <div class="sorts clear">
                        <h2 class="special">小程序 &nbsp;&nbsp;分类</h2>
                        <div class="selected rfirst fl pcat">

                            <span class="text">{$row_app.pid_name}</span>

                            <span class="select_down"></span>
                            <ul class="select_pop p_select">
                                <li class="select" data-id="">选择主分类</li>
                               <volist name="cates" id="vo">
								<li data-id="{$vo.id}">{$vo.name}</li>
								</volist>
							</ul>
                        </div>
                        <div class="selected rsecond fl cat">

                            <span class="text">{$row_app.cid_name}</span>
                            <span class="select_down"></span>
                            <ul class="select_pop c_select">
                                <volist name="cates_child" id="vo">
                                    <li data-id="" ></li>
                                </volist>
                            </ul>

                        </div>
                    </div>
                    <div class="lite_name">
                        <h2 class="special2">小程序 &nbsp;&nbsp;标签<span>（选填）每个标签字数不超 6个字,多个用英文逗号隔开</span></h2>
                        <input class="am-g" type="text" name="tags" id="tags" value="{$row_app.tags}" placeholder="请输入小程序标签"/>
                    </div>
                    <div class="upload2 clear">
                        <h2>小程序 &nbsp;&nbsp;截图<span>建议尺寸：750x1334px（最多不超过五张)</span></h2>
                        <div class="files4" id="filelist4">
<?php foreach($imgs as $key => $img) {?>
                            <span id="WU_FILE_<?= $key;?>" class="file-img" data-img="{$img}">
                                <label class="delete">删除</label>
                                <img class="img4" onload="setImgWH(this)" alt="..." style="width: 100%;" src="{$img}">
                            </span>
<?php }?>
                            <span id="filePicker4" class="file-btn3 webuploader-container">
                                <div class="webuploader-pick">
                                    <img id="img4" onload="setImgWH(this)" src="/Public/images/file2.png" style="width: 100%;">
                                 </div>
                                <div id="rt_rt_1c3hjgadb401t4j1sr3u0m1h00a" style="position: absolute; top: 0px; left: 0px; width: 150px; height: 266px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/jpg,image/gif,image/png,image/jpeg"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div>
                            </span>

                        </div>
                    </div>
                    <div class="lite_name">
                        <h2 class="special">联系QQ<span>方便填写错误时，客服能与你联系哦</span></h2>
                        <input class="am-g" type="text" name="qq" id="qq" value="{$row_app.qq}" maxlength="15" placeholder="请填写联系QQ"/>
                    </div>

                    <div class="test clear">
                        <h2 class="">位置</h2>
                        <input type="text" id="weizhi" name="weizhi" value="{$row_app.weizhi}" readonly placeholder="请点击地图确认位置，用户将在附近的小程序发现你的作品" style="width:500px;"/>
                        <input type="text" readonly name="zuobiao" id="zuobiao"  value="{$row_app.zuobiao}" placeholder="" style="width:300px;" />
                    </div>
                    <!--百度地图定位一下发布者位置-->

                    <div class="chaxun" style="margin:20px 0 15px;">
                        <input type="text" name="addrname" id="addrname"  value="" placeholder="输入地址模糊查询">
                        <input type="button" id="chaxunbtn" onclick="searchMap()" value="查询">
                    </div>
                    <div id="container_bmap" style="height:350px;">
                        <!--百度地图容器-->

                    </div>
                    <div class="test clear">
                        <h2 class="">验证码</h2>
                        <input type="text" id="verify" name="verify" placeholder="请输入验证码"/>
                        <div class="testimg">
                            <img class="verifyimg reloadverify" alt="点击切换" src="{:U('/Home/Public/vcode')}" style="cursor:pointer;">
                        </div>
                    </div>
                    <div class="release-save">
                        <input type="hidden" name="icon" id="icon" value="{$row_app.thumbnail}">
                        <input type="hidden" name="qrcode" id="qrcode" value="{$row_app.qrcode}">
                        <input type="hidden" name="open_qrcode" id="open_qrcode" value="{$row_app.open_qrcode}">
                        <input type="hidden" name="pid" id="pid" value="{$row_app.pid}">
                        <input type="hidden" name="cid" id="cid" value="{$row_app.sid}">
                        <input type="hidden" name="attr_imgs" id="attr_imgs" value="{$row_app.screen}">
                        <div class="text-center">
                            <a id="save">保存并上传</a>
                            <a class="cancel" onclick="history.back();">取消</a>
                            <p>联系QQ：{$Think.CONFIG.wap_qq}，加快审核进度，获得独家曝光机会</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            var map = new BMap.Map("container_bmap");
            var point = new BMap.Point('{$row_app.zuobiaox}','{$row_app.zuobiaoy}');
            map.centerAndZoom(point,16);
            map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
            var marker = new BMap.Marker(point);        // 创建标注
            map.addOverlay(marker);                     // 将标注添加到地图中
            var local = new BMap.LocalSearch(map, {
                renderOptions:{map: map}
            });
            //点击查询模糊位置
            function searchMap() {
                local.search($('#addrname').val());
            }
            //鼠标点击地图获取地址
            var geoc = new BMap.Geocoder();
            map.addEventListener("click", function(e){
                var pt = e.point;
                console.log(pt)
                $('#zuobiao').val(pt.lng+','+pt.lat);
                geoc.getLocation(pt, function(rs){
                    var addComp = rs.addressComponents;
                   // alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
                    $('#weizhi').val(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber)
                });
            });


        </script>

        <include file="./Themes/PC/Public/footer.html" />
</div>




	<!-- /主体 -->

	<!-- 底部 -->
	<script type="text/javascript">
(function(){
	var ThinkPHP = window.Think = {
		"ROOT"   : "", //当前网站地址
		"APP"    : "", //当前项目地址
		"PUBLIC" : "/Public", //项目公共目录地址
		"DEEP"   : "/", //PATHINFO分割符
		"MODEL"  : ["2", "", ""],
		"VAR"    : ["m", "c", "a"]
	}
})();
</script>

    <script type="text/javascript">
        var UPLOAD_URL = "{:U('/Home/Public/uploadfile')}";
			var SWF_URL = '__PUBLIC__/js/Uploader.swf';
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/webuploader.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/public.js" charset="utf-8"></script>
    <script type="text/javascript">
        /* 小程序分类 */
        $(function () {
            // 模拟select
            $(".selected").click(function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this).find(".select_pop").stop().slideUp('fast');
                } else {
                    $(".selected").removeClass("active");
                    $(this).addClass("active");
                    $(".select_pop").slideUp('fast');
                    $(this).find(".select_pop").stop().slideDown('fast');
                }
            });
            // 点击空白关闭
            $(document).click(function (e) {
                if ($(e.target).hasClass('selected') || $(e.target).parents().hasClass('selected')) {
                    return;
                }
                $(this).find(".select_pop").stop(true, true).slideUp('fast');
                $(this).find(".selected").removeClass("active");
            });

            // 主分类
            $('body').on('click', ".pcat li", function () {
                var text = $(this).text();
                var pid = $(this).attr('data-id');

                $(".pcat .text").text(text);
                $(".pcat li").removeClass("select");
                $(this).addClass('select');

                $(".cat .text").text('选择子分类');
                $(".c_select").html('');

                $('#pid').val(pid);
                $('#cid').val('');

                getCat(pid);
            });
            // 子分类
            $('body').on('click', ".cat li", function () {
                var text = $(this).text();
                var cid = $(this).attr('data-id');

                $(".cat .text").text(text);
                $(".cat li").removeClass("select");
                $(this).addClass("select");

                $('#cid').val(cid);
            });
        });

        function getCat(pid) {
            $.get("{:U('/Home/Public/getCat')}", {pid: pid}, function (msg) {
                if (msg.status == '1') {
                    $(".c_select").html(msg.data);
                }
            });
        }

        $(function () {
            upload1();
            upload2();
            upload3();
            upload4();

            //输入框字数赋值
            $("#title").keyup(function () {
                var len = $("#title").val().length;
                $("#title").siblings('span').text(len + '/15');
            });
            $("#author").keyup(function () {
                var len = $("#author").val().length;
                $("#author").siblings('span').text(len + '/15');
            });
            $("#content").keyup(function () {
                var len = $("#content").val().length;
                $("#content").siblings('span').text(len + '/300');
            });
            // 分类
            $(".sorts a").click(function () {
                $(".sorts a").removeClass("active");
                $(this).addClass("active");
                $("#cat_ids").val($(this).attr('data-id'));
            });

            // 保存
            $('#save').click(function () {
                var params = get_params();
                 console.log(params)

                $.post("{:U('/Home/Public/update')}", params, function (msg) {
                    if (msg.status == 2) {
                        showLogin();
                        return;
                    }
                    if (msg.status == 1) {
                        layer.msg('修改成功，请等待管理员审核！');
                        setTimeout(function () {
                            window.location.href = "{:U('/user/index/apply')}";
                        }, 1000);
                    } else {
                        layer.msg(msg.info);
                    }
                });
            });
        });

        function get_params() {
            var title = $('#title').val(),
                    author = $('#author').val(),
                    icon = $('#icon').val(),
                    qrcode = $('#qrcode').val(),
                    open_qrcode = $('#open_qrcode').val(),
                    content = $('#content').val(),
                    pid = $('#pid').val(),
                    cid = $('#cid').val(),
                    attr_imgs = $('#attr_imgs').val(),
                    tags = $('#tags').val(),
                    qq = $('#qq').val(),
                    verify = $('#verify').val(),
                    weizhi = $('#weizhi').val(),
                    zuobiao = $('#zuobiao').val(),
                    aid='{$row_app.aid}';
            var params = {
                aid:aid,
                title: title,
                author: author,
                icon: icon,
                qrcode: qrcode,
                open_qrcode: open_qrcode,
                content: content,
                pid: pid,
                cid: cid,
                attr_imgs: attr_imgs,
                tags: tags,
                qq: qq,
                verify: verify,
                weizhi:weizhi,
                zuobiao:zuobiao,
            };

            return params;
        }

        $(function () {
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function () {
                if (verifyimg.indexOf('?') > 0) {
                    $(".verifyimg").attr("src", verifyimg + '&random=' + Math.random());
                } else {
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
                }
            });
        });
    </script>
 <!-- 用于加载js代码 -->

</body>
<script>
    $('.child_zyg').show();
</script>
</html>
