
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="__PUBLIC__/m/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/m/images/favicon.ico"/>
    <title><if condition="$cate['seotitle']">{$cate['seotitle']}<else/>{$cate.name}类微信小程序</if> - {$Think.CONFIG.sitename}</title>
    <meta name="keywords" content="{$cate.keywords}" />
    <meta name="description" content="{$cate.description}" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/m/css/reset.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/m/css/layout.css?1.0.47">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/m/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
	<script type="text/javascript" src="__PUBLIC__/m/js/adaptive-version.js"></script>
	<script type="text/javascript" src="__PUBLIC__/m/js/jquery.min.js"></script>
</head>
<body>

	<div class="page">
		<div class="m-top b-bottom-e5" style="background: #fff;">
			
			<if condition="$user">
			<a href="{:U('user/index')}" class="btn left">
				<div class="user">
					<span class="has">
						<i><img src="{$user.head}" alt="{$user.name}"></i>
					</span>
				</div>
			</a>
			<else/>
			<a href="{:U('public/login')}" class="btn left">
				<div class="user">
					<span>
						<i><img src="__PUBLIC__/m/images/user-icon.png"></i>
					</span>
				</div>
			</a>
			</if>
			<a href="javascript:;" class="btn right headDropMenu"></a>
			<h2 style="color:#505050;">{$catename}</h2>
		</div>
		<div class="headDropMenuLayer">
			<div class="headDropMenuContent clear">
				<a href="/" title="小程序精品推荐"><span class="d_recommend"></span><p>精品推荐</p></a>
				<a href="{:U('/app/category/')}" title="小程序分类"><span class="d_classify"></span><p>类别</p></a>
				<a href="{:U('app/apply')}" title="小程序发布"><span class="d_ranking"></span><p>发布</p></a>
				<a href="{:U('/eva/')}" title="小程序资讯"><span class="d_article"></span><p>测评</p></a>
				<a href="{:U('/special/')}" title="小程序专题"><span class="d_special"></span><p>专题</p></a>
				<a href="{:U('/search/')}" title="小程序搜索"><span class="d_search"></span><p>搜索</p></a>
			</div>
		</div>
		<div class="navbar b-bottom-e5 b-top-e5 clear" style="position: absolute; top: .88rem; z-index: 12;">
			<include file="nav" />	
			
		</div>		
		<div class="m-container bottom b-top-e5" style="top: 1.6rem;">
			<div class="m-sub">
				
	        	<input type="hidden" name="status" id="status" value="1">
	        	<input type="hidden" name="order" id="order" value="1">
	        	<input type="hidden" name="cate" id="cate" value="{$cate.id}">
				<if condition="$list">
				<div class="objects" id="thelist">
					<volist name="list" id="vo">
					<div class="list b-bottom-e5">
						<a href="javascript:;" class="btn fr copyBtn" title="{$vo.title}" onclick="showtip('{$vo.title}','{$vo.thumbnail}','{$vo.qrcode|default='__PUBLIC__/images/default_qrcode.png'}')" data-clipboard-text="{$vo.title}">进入</a>
						
						<a href="{:U('/app/'.$vo[aid])}" title="{$vo.title}" class="left">
							<span class="obj-img fl">
								<img src="{$vo.thumbnail}" alt="{$vo.title}">
							</span>
							<div class="mid">
								<div href="javascript:;" class="title elps">{$vo.title}</div>
								
								<div class="author"><span>热度：{$vo.n}</span></div>
								<div class="author"><div class="star"><div class="star-inner" style="width: 90%;"></div></div><label></label></div>
								
							</div>
						</a>
					</div>
					</volist>
				</div>
				<div class="page_group clear ">{$page}</div>
				<else/>
				<div class="nonebox">
					<img src="__PUBLIC__/m/images/none.png">
					<p>很抱歉，没有相应的小程序</p>
				</div>
				</if>
			</div>
		</div>
			<include file="Public:bottom_nav"/>	
		<div class="slideMenuContent">
			<div class="m-top" style="background: #fff; border-bottom: 1px solid #e5e5e5;">
				<a href="javascript:;" class="btn left slideMenuBtn active"></a>
				<h2 style="font-size: .34rem; color: #303030;">分类筛选</h2>
			</div>
			<div class="typebox content bod clear">
				<a class="b-bottom-e5 b-right-e5" href="{:U('/app/')}" title="全部">
					<img src="__PUBLIC__/m/images/all.png"/>
					<p>全部</p>
				</a>
				<volist name="cates" id="vo">
				<a class="b-bottom-e5 b-right-e5" href="{:U('/app/'.$vo['dir'])}">
					<img src="{$vo.thumbnail}" alt="{$vo.name}"/>
					<p>{$vo.name}</p>
				</a>
				</volist>
				</div>
		</div>
		<div class="weixinshow">
				<div class="copy-laye"></div>
				<div class="copy-laye-content copy-laye-show-1">
					<span class="ewm">
						<img src="" alt="">
					</span>
					<p class="name"></p>
					<p class="copy-tip">长按二维码体验小程序</p>
					<div class="qrcode">
						<img src="" alt="" style="width:150px">
					</div>
					 
				</div>
				<div class="copy-laye-content copy-laye-show-2">
					<span class="ewm">
						<img src="" alt="">
					</span>
					<p class="name"></p>
					<p class="copy-tip">长按二维码体验小程序</p>
					 
					<div class="qrcode">
						<img src="" alt="" style="width:150px">
					</div>
					 
				</div>
		</div>
		<div class="weixinshowno">
			<div class="copy-laye"></div>
			<div class="copy-laye-content copy-laye-show-1" style="bottom:60px;">
				<span class="ewm">
					<img src="" alt="">
				</span>
				<p class="name"></p>
				<p class="copy-tip">手动复制小程序名称</p>
				<p class="copy-tip">快到微信 - 搜索小程序体验吧</p>
				<div class="tip-img">
					<img src="__PUBLIC__/m/images/copy-lay-img.jpg?1.0.15" alt="">
				</div>
				<a href="weixin://" class="toweixin">前往微信</a>
			</div>
			<div class="copy-laye-content copy-laye-show-2">
				<span class="ewm">
					<img src="" alt="">
				</span>
				<p class="name"></p>
				<p class="copy-tip">手动复制小程序名称</p>
				<p class="copy-tip">快到微信 - 搜索小程序体验吧</p>
				<div class="tip-img">
					<img src="__PUBLIC__/m/images/copy-lay-img.jpg?1.0.15" alt="">
				</div>
				<a href="weixin://" class="toweixin">前往微信</a>
			</div>
			
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/m/js/touch-0.2.14.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/m/js/clipboard.min.js?1.0.14"></script>
	<script type="text/javascript" src="__PUBLIC__/m/js/common.min.js?1.0.24"></script>
	<script type="text/javascript" src="__PUBLIC__/m/js/swiper.min.js"></script>
		<script type="text/javascript">
		 
		$(function(){
			if(window.navigator.userAgent.match(/MicroMessenger/i) ? true : false){
				$('.toweixin').hide();
				$('.weixinshowno').html('');
			}else{
				$('.weixinshow').html('');
			}
		});

		new Clipboard('.copyBtn').on('success', function(e) {
			var e = e || window.event;
			setTop('.copy-laye-show-1');
		    e.clearSelection();
		}).on('error', function(e) {
			var e = e || window.event;
			setTop('.copy-laye-show-2');
		    e.clearSelection();
		});
		$('.copy-laye').on('click', function(e){
			$('.copy-laye').hide();
			$('.copy-laye-content').hide(); 
			$('body').removeAttr('ontouchmove');
			
			e.preventDefault();
		});

		$('.copy-laye').click(function(e){
			if( $(e.target).hasClass('copy-laye') ){
				$('.copy-laye').hide();
				$('body').removeAttr('ontouchmove');
			}
			e.stopPropagation();
		});

		function showtip(title, icon, qrcode){
			$('.copy-laye-content .name').html(title);
			$('.copy-laye-content .ewm img').attr('src', icon);
			$('.copy-laye-content .qrcode img').attr('src', qrcode);
		}
		</script>

    <script id="tpl_list" type="text/html">
        {{each data.rows as value i}}
		<div class="list b-bottom-e5">
			{{if value.status == 1}}
			<a href="javascript:;" class="btn fr copyBtn" title="{{value.title}}" onclick="showtip('{{value.title}}','{{value.icon}}','{{value.open_qrcode}}')" data-clipboard-text="{{value.title}}">进入</a>
			{{else}}
			<a href="javascript:;" class="btn fr" style="background:none;color:#757474">未上架</a>
			{{/if}}
			<a href="/app/{{value.id}}" title="{{value.title}}" class="left">
				<span class="obj-img fl">
					<img src="{{value.icon}}" alt="{{value.title}}">
				</span>
				<div class="mid">
					<div href="javascript:;" class="title elps">{{value.title}}</div>
					{{if value.status == 1}}
					<div class="author"><span class="fl" style="margin-right: .5rem;">分类：{{value.cat}}</span><span>热度：{{value.hits}}</span></div>
					<div class="author"><div class="star"><div class="star-inner" style="width: {{value.score*20}}%;"></div></div><label>{{value.score_num}}</label></div>
					{{else}}
					<div class="author">分类：{{value.cat}}</div>
					<div class="author">热度：{{value.hits}}</div>
					{{/if}}
				</div>
			</a>
		</div>
        {{/each}}
    </script>

<script>
var page = 2;
var flag = true;
get_list();

$(function(){
	$('.m-container').loadToBottom({
		targetHeight: '.m-sub',
		scale: 0.88,
		callback: function(){
	        page++;
			get_list(1);
		}
	});
});

//加载数据
function get_list(callback) {
	if(!flag) return false;
    var params = get_params();
    $.get("/ajax/getAppList", params, function (msg) {
        if (msg.status == 0) {
        	if(page <= 1){
        		$('#thelist').html('');
            	$('.nonebox').show();
            	$('.objects').hide();
        	}
        	flag = false;
            return;
        }else{
        	$('.nonebox').hide();
        	$('.objects').show();
    	}
        if (msg.data.total <= 20) {
        	flag = false;
        }

        if (page > 1 && msg.data.rows == null) {
        	flag = false;
        } else {
            var html = template('tpl_list', msg);
            if(callback) {
            	$('#thelist').append(html);
            } else {
            	$('#thelist').html(html);
            }
        }
    }, 'json');
}

function get_params() {
    var status = $('#status').val();
    var order = $('#order').val();
    var cate = $('#cate').val();
    var params = {
        page: page,
        cate: cate,
        status: status,
        //order: order
    }
    return params;
}

// 筛选
$('.c-status').click(function () {
	flag = true;
	page = 1;
    $('.turn span').removeClass('active');
    $(this).addClass('active');

    $('#status').val($(this).attr('data-value'));
    
    if($('#status').val() != 1){
        $('.order').hide();
    } else {
        $('.order').show();
    }
    get_list();
});

// 排序
$('.c-order').click(function () {
	flag = true;
	page = 1;
    $('.order span').removeClass('active');
    $(this).addClass('active');

    $('#order').val($(this).attr('data-value'));
    get_list();
});

$('.navbar-right a,.navbar-left a').click(function () {
	flag = true;
	page = 1;
	$(".scrollArea").scrollTop(0);
    $('#cate').val($(this).attr('data-value'));
    get_list();
});

$('.slideMenuBtn').click(function(){
	$('html').addClass('noScroll');
	$('.slideMenuContent').show();
});
$('.slideMenuBtn.active').click(function(){
	$('html').removeClass('noScroll');
	$('.slideMenuContent').fadeOut();
});
</script>
<script type="text/javascript" src="__PUBLIC__/m/js/template.js"></script>
	
	<script>
	(function(){
	    var bp = document.createElement('script');
	    var curProtocol = window.location.protocol.split(':')[0];
	    if (curProtocol === 'https') {
	        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
	    }
	    else {
	        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	    }
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
	</script>
<p style="display:none">
{$Think.CONFIG.footer}
</p>
    </body>
</html>